@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: url(./states/img-fundo-Login.jpg);
    background-size: cover;
    background-position: center;
}

/* ======== LAYOUT DESKTOP ======== */
.container {
    min-height: 100vh;
    display: flex; /* left e right lado a lado */
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
}

/* LEFT */
.container-left {
    width: 50%;
    margin-left: 10%;
    
}

.container-left h1 {
    font-size: 48px;
    margin-bottom: 18px;
    color: #817e81;
}

.container-left p {
    color: rgba(0, 0, 0, 0.9);
    max-width: 600px;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 20px;
}

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}

/* RIGHT */
.container-right {
    width: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.menssagem{
    background: transparent;
    padding: 30px 40px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: solid 1px white;
    backdrop-filter: blur(6px);
}

/* FORMULÁRIO */
.login-form {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;  /* <<< FILHOS EM COLUNA */
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.6);
    
}

.login-form h2 {
    color: #fff;
    margin-bottom: 8px;
    font-size: 35px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    border: solid 1px white;
}

.login-form input:focus {
    outline: none;
    border: solid 1px #e494fa;
}


input::placeholder{
    color: #949194;
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
   
}

.botoes .Btn {
    width: 45%;
}
/* Fundo escuro com spinner */
.spinner-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Bolinha girando */
.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top-color:  #e494fa;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Caixa de sucesso */
.success-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.success-box {
    background: transparent;
    padding: 30px 40px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    border: solid 1px white;
    backdrop-filter: blur(6px);
}

.success-box p {
    font-size: 18px;
    margin-bottom: 15px;
}

.success-box button {
    background: #e494fa;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/* Ícone hambúrguer */
.mobile-menu-icon {
    display: none;
    width: 35px;
    cursor: pointer;
    flex-direction: column;
    gap: 6px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
}

.mobile-menu-icon div {
    width: 100%;
    height: 4px;
    background: white;
    border-radius: 4px;
}

/* MENU MOBILE (inside) */
.mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
   background: transparent;
    backdrop-filter: blur(8px);
    padding: 40px 20px;
    z-index: 20000;
    animation: slideIn .3s forwards;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 0;
    border-bottom: 1px solid #444;
    display: block;
}

.mobile-menu button {
    background: none;
    color: white;
    border: none;
    font-size: 26px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Animação */
@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

/* RESPONSIVIDADE */
@media (max-width: 968px) {

    /* esconder botão desktop */
    .container-left .Btn {
        display: none;
    }

    /* Mostrar ícone hambúrguer */
    .mobile-menu-icon {
        display: flex;
    }
}

/* ======== RESPONSIVO ======== */
@media (max-width: 968px) {

    .container {
        flex-direction: column;
        padding: 20px;
    }

    .container-left,
    .container-right {
        width: 100%;
        text-align: center;
    }

    /* Form auto responsivo no mobile */
    .login-form {
        width: 90%;
        max-width: 400px;
        height: auto;
        padding: 24px;
    }
}